p, div {
	line-height: 200%;
	padding-left: 5px;
	font-family: Verdana, sans-serif;
	font-weight: normal;
	font-size: 13px;
}

h1, h2, h3, h4, h5, h6, h7 {
	font-family: Georgia, Serif;
	}

blockquote {
    font-family: monospace;
	background-color:#E6E6E6;
	padding-left: 5px;
}

code {
    font-family: monospace;
	background-color:#848484;
	font-size: 15px;
	color:#ffffff;
	padding-left: 2px;
	padding-right: 2px;
}

a.download {
    font-family: monospace;
	background-color:#CEE3F6;
	padding: 10px 22px 10px 22px;
	height: 30px;
	border-color: #08088A;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
}

p.footer {
	line-height: 200%;
	padding-left: 5px;
	font-family: Times, serif;
	font-weight: normal;
	font-size: 16px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #060456;
    color: white;
    padding: 2px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #848484;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* Interaction states
The original colour values from
https://code.jquery.com/ui/1.11.4/themes/south-street/jquery-ui.css
are replaced thus:
#327E04 = green (background and text) -----> #343433
#459e00 = green, lighter (border) -----> #858584
#ffffff = white
#67b021 = green, another -----> #858584
#d4ccb0 = greyish, light
#fafaf4 = white, greyish
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #343433;
	background: #858584 url("images/ui-bg_highlight-hard_15_459e00_1x100.png") 50% 50% repeat-x;
	font-weight: bold;
	color: #ffffff;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #ffffff;
	text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #343433;
	background: #858584 url("images/ui-bg_highlight-soft_25_67b021_1x100.png") 50% 50% repeat-x;
	font-weight: bold;
	color: #ffffff;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
	color: #ffffff;
	text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: 1px solid #d4ccb0;
	background: #fafaf4 url("images/ui-bg_highlight-hard_100_fafaf4_1x100.png") 50% 50% repeat-x;
	font-weight: bold;
	color: #858584;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #858584;
	text-decoration: none;
}