<!DOCTYPE html>
<html lang="en">

<head>

<title>{{ page.title }}</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- meta tags for twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:creator" content="@anindita_basu">
<meta name="twitter:url" content="https://aninditabasu.github.io/">
<meta name="twitter:title" content="Anindita Basu's CV">
<meta name="twitter:description" content="Quick view of Anindita's professional interests">
<meta name="twitter:image" content="https://AninditaBasu.github.io/images/twitterCard.png">
<meta name="twitter:image:alt" content="List of deliverables such as online help, context-sensitive help, UI text, tutorials, videos, API documents, user scenarios, UI wireframes">

<!-- meta tags for facebook  -->
<meta property="og:title" content="Anindita Basu's CV">
<meta property="og:image" content="https://AninditaBasu.github.io/images/twitterCard.png">
<meta property="og:image:alt" content="List of deliverables such as online help, context-sensitive help, UI text, tutorials, videos, API documents, user scenarios, UI wireframes">
<meta property="og:description" content="Quick view of Anindita's professional interests">

<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

<link rel="stylesheet" type="text/css" href="{{ "/css/bootstrap.min.css" | absolute_url }}">

<script src="{{ "/js/jquery.min.js" | absolute_url }}"></script>
<script src="{{ "/js/popper.min.js" | absolute_url }}"></script>
<script src="{{ "/js/bootstrap.min.js" | absolute_url }}"></script>

</head>

<body>

<div class="container">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link active" href="{{ "index.html" | absolute_url }}">About</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ "/pages/portfolio.html" | absolute_url }}">Portfolio</a></li>
	<li class="nav-item"><a class="nav-link" href="{{ "/pages/apps.html" | absolute_url }}">Apps</a></li>
	<li class="nav-item"><a class="nav-link" href="{{ "/pages/contact.html" | absolute_url }}">Contact</a></li>
    </ul>
</nav>

<div class="container">

{{ content }}
         
</div><!-- /.container (content)-->

<div class="container">
<hr/>
<footer>
<p class = "small">&copy; 2020&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{% assign url = "https://github.com/AninditaBasu" %}
<a href="{{ site.baseurl | prepend: url }}">GitHub repo</a>
</p>
</footer>
</div><!-- /.container (footer)-->

</div><!-- /.container (body)-->

</body>

</html>