<!DOCTYPE html>
<html lang="en">

<head>

<title>{{ page.title }}</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="Description" content="Quick view of Anindita's professional interests">

<!-- meta tags for twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:creator" content="@anindita_basu">
<meta name="twitter:url" content="https://aninditabasu.github.io/">
<meta name="twitter:title" content="Anindita Basu's CV">
<meta name="twitter:description" content="Quick view of Anindita's professional interests">
<meta name="twitter:image" content="https://AninditaBasu.github.io/images/twitterCard.png">
<meta name="twitter:image:alt" content="List of deliverables such as online help, context-sensitive help, UI text, tutorials, videos, API documents, user scenarios, UI wireframes">

<!-- meta tags for facebook  -->
<meta property="og:title" content="Anindita Basu's CV">
<meta property="og:image" content="https://AninditaBasu.github.io/images/twitterCard.png">
<meta property="og:image:alt" content="List of deliverables such as online help, context-sensitive help, UI text, tutorials, videos, API documents, user scenarios, UI wireframes">
<meta property="og:description" content="Quick view of Anindita's professional interests">

<link rel="icon" type="image/png" href="{{ "./images/ab.jpg"> | absolute_url }}"

<link rel="stylesheet" type="text/css" href="{{ "/css/bootstrap.min.css" | absolute_url }}">
<link rel="stylesheet" type="text/css" href="{{ "/css/common.css" | absolute_url }}">

<script src="{{ "/js/jquery.min.js" | absolute_url }}"></script>
<script src="{{ "/js/popper.min.js" | absolute_url }}"></script>
<script src="{{ "/js/bootstrap.min.js" | absolute_url }}"></script>

</head>

<body>

<div class="container">

<nav class="navbar navbar-expand-sm bg-fill navbar-light">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="{{ "index.html" | absolute_url }}">
    <img src="{{ "./images/ab.jpg" | absolute_url }}" alt="Home" style="width:40px;" class = "rounded-circle">
    </a>
	<ul class="navbar-nav">
    <!--<li class="nav-item"><a class="nav-link active" href="{{ "index.html" | absolute_url }}">Home</a></li>-->
    <li class="nav-item"><a class="nav-link" href="{{ "/pages/docs.html" | absolute_url }}">Writing samples</a></li>
	<li class="nav-item"><a class="nav-link" href="{{ "/pages/tools.html" | absolute_url }}">Doc tools</a></li>
	<li class="nav-item"><a class="nav-link" href="{{ "/pages/apps.html" | absolute_url }}">Fun apps</a></li>	
	<li class="nav-item"><a class="nav-link" href="{{ "/pages/wireframes.html" | absolute_url }}">Wireframes</a></li>
	<li class="nav-item"><a class="nav-link" href="{{ "/pages/cv.html" | absolute_url }}">CV</a></li>
    </ul>
</nav>

<hr/>

<div class="container">

{{ content }}
         
</div><!-- /.container (content)-->

<div class="container">
<hr/>
<footer class="small">
<p class="text-center">
<a href="https://github.com/AninditaBasu"><img src="/images/GitHub-Mark-32px.png" alt="Anindita Basu's GitHub Profile" title="Anindita Basu's GitHub Profile"/></a> &nbsp;&nbsp;
<a href="https://www.linkedin.com/in/aninditabasu/"><img src="/images/32px-LinkedIn_logo_In-Black.png" alt="Anindita Basu's LinkedIn Profile" title="Anindita Basu's LinkedIn Profile"></a>
&nbsp;&nbsp; 
<a href="https://dev.to/aninditabasu"><img src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" alt="Anindita Basu's DEV Profile" title="Anindita Basu's DEV Profile" height="30" width="30"></a>
&nbsp;&nbsp;
<a href="mailto:ab.techwriter@gmail.com"><img src = "/images/baseline_mail_outline_black_18dp.png" alt="email Anindita" title="email Anindita"/></a>
</p>
</footer>
</div><!-- /.container (footer)-->

</div><!-- /.container (body)-->

</body>

</html>