:root {
  --pst-sidebar-font-size: calc((14/16) * 1rem);
  --sbt-prevnext-font-size: calc((12/16) * 1rem);
} 
body {
  background-color: #fff;
  font-size: calc((14/16) * 1rem);
  /* --sbt-sidebar-font-size: calc((14/16) * 1rem); */
}
.bd-sidebar__content, .header-article, .bd-toc nav {
  background-color: #f5f5f7;
}
.header-article .headerbtn {
  background-color: transparent;
}
.bd-toc .nav-item {
  font-size: calc((14/16) * 1rem);
}